<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include Material Design lite framework -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    <title>Lughborough Table Tennis Cup</title>
    <link rel="stylesheet" type="text/css" href="CupPage.css">
    <link rel="stylesheet" type="text/css" href="adminpanel.css">
    <link rel="stylesheet" type="text/css" href="Group1.css">

</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Admin Page</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="adminpanel.html" class="mdl-layout__tab is-active">Main panel</a>
            <a href="adminFixtures.html" class="mdl-layout__tab">All Fixtures</a>
            <a href="NewCup.html" class="mdl-layout__tab" >Group stage</a>
            <a href="CupPage.html" class="mdl-layout__tab">Playoffs</a>
            <a href="#fixed-tab-5" class="mdl-layout__tab">Clubs</a>
            <a href="#fixed-tab-6" class="mdl-layout__tab">Teams</a>
            <a href="#fixed-tab-7" class="mdl-layout__tab">Players</a>

        </div>

    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
    </div>
    <main class="mdl-layout__content" id="app">
        <!-- Main admin panel -->

        <div class="page-content">
            <h3>Create a club:</h3>
            <table class="mdl-data-table mdl-js-data-table Input-table">
                <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="clubName" v-model="fullClubsSelected">
                            <!--<input  style="font-size: 13px; width: 90px; " type="text"  v-model.lazy="newDate" v-on:input="updateDate($event.target.value, item.id, index)" placeholder="YYYY-MM-DD">-->
                            <label class="mdl-textfield__label" for="clubName">Club name...</label>
                        </div>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" v-on:click="newClub(fullClubsSelected)">
                            Submit
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>

        <div class="fixtures-table-container mdl-card__supporting-text">
            <table class="mdl-data-table mdl-js-data-table">
                <thead>

                <tr>
                    <th class="mdl-data-table__cell--non-numeric">#</th>
                    <th class="mdl-data-table__cell--non-numeric">Club Name</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="(item,index) in allClubs">
                    <tr style="cursor: pointer">
                        <td class="mdl-data-table__cell--non-numeric">{{index+1}}</td>
                        <td class="mdl-data-table__cell--non-numeric" >{{item.clubName}}</td>

                        <!--<td class="mdl-data-table__cell&#45;&#45;non-numeric" v-on:click="directToMatchpage(item.id)">{{item.scores}}</td>-->
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
        <!--<button v-on:click="getMatches">Fetch</button>-->

        <!--<button class="mdl-button mdl-js-button mdl-js-ripple-effect" v-on:click="test">-->
            <!--Submit-->
        <!--</button>-->
        <!--<button class="mdl-button mdl-js-button mdl-js-ripple-effect" v-on:click="refreshDropdowns">-->
            <!--Submit-->
        <!--</button>-->
    </main>

    <script src='https://unpkg.com/vue@latest'></script>
    <script src='https://unpkg.com/vue-select@latest'></script>

    <script>
        Vue.component('v-select', VueSelect.VueSelect)

        var vueApp = new Vue ({
            el: '#app',

            data: {
                allClubs:[],
                fullClubsSelected:null
            },

            methods: {
                //adds a new club to the database and then refresher th page so the club list is updated
                newClub: function(clubName){
                    var global = this;

                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {                                                         //(callback function)this function runs after xhttp.open because we have asynchronous data sending so as soon as the data is recieved this is run
                        if (xhttp.readyState === XMLHttpRequest.DONE && xhttp.status == 200) {
                            //console.log(this.responseText);
                            location.reload();
                        }
                    };

                    xhttp.open("POST", "http://178.62.9.140:3080/newClub/"+clubName, true);
                    xhttp.send();
                },

//
                fetchClubs: function(){

                    var global = this;

                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {                                                         //(callback function)this function runs after xhttp.open because we have asynchronous data sending so as soon as the data is recieved this is run
                        if (xhttp.readyState === XMLHttpRequest.DONE && xhttp.status == 200) {
                            console.log(this.responseText);
                            //I parse the rawdata received into jason structure then I pass it into and call the manipulate function
                            var rawdata = this.responseText;
                            var json = JSON.parse(rawdata); //parses the query result

                            global.allClubs = json;        //stores the entire json structure that was returned
                        }
                    };

                    xhttp.open("GET", "http://178.62.9.140:3080/allClubs", true);
                    xhttp.send();
                },


//                refreshDropdowns: function(){
//                    this.fetchClubs();
//                    this.fetchTeams();
//                    this.fetchPlayers();
//                    location.reload();
//                }

            },
            mounted: function () {
                this.fetchClubs();
            }

        })
    </script>
</div>
</body>
</html>