<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <!-- Include Material Design lite framework -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    <title>Lughborough Table Tennis Cup</title>
    <link rel="stylesheet" type="text/css" href="CupPage.css">
    <link rel="stylesheet" type="text/css" href="NewCup.css">
    <link rel="stylesheet" type="text/css" href="checkbox.css">


</head>
<body>

<script src="https://unpkg.com/vue/dist/vue.js"></script>  <!-- include vue.js -->

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Admin Page</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="adminpanel.html" class="mdl-layout__tab">Main panel</a>
            <a href="adminFixtures.html" class="mdl-layout__tab">All Fixtures</a>
            <a href="adminGroupstage.html" class="mdl-layout__tab is-active" >Group stage</a>
            <a href="adminPlayoffs.html" class="mdl-layout__tab">Playoffs</a>
            <a href="adminClubs.html" class="mdl-layout__tab">Clubs</a>
            <a href="adminTeams.html" class="mdl-layout__tab">Teams</a>
            <a href="adminPlayers.html" class="mdl-layout__tab">Players</a>

        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
    </div>                                                                                                   <!-- FIX ME -->
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Cup Information</a>
            <a class="mdl-navigation__link" href="">Fixtures</a>
            <a class="mdl-navigation__link" href="">Teams</a>
            <a class="mdl-navigation__link" href="login.html">Login</a>
        </nav>
    </div>
    </header>

<div style="width: 100%; height: 100%">
    <main style="width:80%; margin-right: 10%;margin-left: 10%" >
        <div id="app">
            <table>
                <tr>
                    <td>
                        <h4>If the group stage matches have been completed please select the teams to go on to the playoffs</h4>
                    </td>
                    <td style="width: 350px"></td>
                    <td>
                        <button style="width: 180px" id="show-modal" @click="errorChecks" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" >
                            Start Knock Out
                        </button>
                    </td>
                </tr>
            </table>
            <br>


            <table class="layout-Table">
                <tr>
                    <td style="width: 30%" valign="top">
                        <div class="fixtures-card-wide mdl-card mdl-shadow--8dp">     <!-- fixtures card csss should be group card -->
                            <div class="mdl-card__title">
                                <h3 style="font-size: 18px !important;" class="mdl-card__title-text" >Group 1</h3>
                            </div>
                            <!-- Group Table of Points -->
                            <div class="mdl-card__supporting-text fixtures-table-container ">
                                <table class="mdl-data-table mdl-js-data-table">
                                    <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">#</th>
                                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Points</th>
                                        <th class="mdl-data-table__cell--non-numeric">Winner</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template v-for="(item,index) in group1Info">
                                        <tr style="cursor: pointer">
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{index+1}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.teamName}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.points}}</td>
                                            <td>
                                                <div class="rkmd-checkbox checkbox-ripple">  <!--start of checkbox-->
                                                    <label class="input-checkbox checkbox-lightBlue">
                                                        <input type="checkbox"  v-on:click="selectedTeams(item.teamID)">
                                                        <span class="checkbox"></span>
                                                    </label>
                                                </div><!-- @end Checkbox-1 -->
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                            <!-- Sub menu of Group -->
                            <div class="mdl-card__menu">
                                <button id="menu-group1"
                                        class="mdl-button mdl-js-button mdl-button--icon" style="float: right;">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                    for="menu-group1">
                                    <li class="mdl-menu__item" href="Group1.html"><a v-on:click="redirect('group1')" style="text-decoration: none;color: inherit">Edit Fixtures</a> </li>     <!-- FIX ME styling is bad and cant click the whole box color is slightly different -->
                                    <!--<li disabled class="mdl-menu__item">Pick Group Winners</li>-->
                                    <!--<li class="mdl-menu__item" id="show-modal" @click="showModal = true">Add teams</li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td style="width: 5%" valign="top">
                        <div class="middle-filler"></div>
                    </td>
                    <td style="width: 30%" valign="top">
                        <div class="fixtures-card-wide mdl-card mdl-shadow--8dp">     <!-- fixtures card csss should be group card -->
                            <div class="mdl-card__title">
                                <h3 style="font-size: 18px !important;" class="mdl-card__title-text" >Group 2</h3>
                            </div>
                            <!-- Group Table of Points -->
                            <div class="mdl-card__supporting-text fixtures-table-container ">
                                <table class="mdl-data-table mdl-js-data-table">
                                    <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">#</th>
                                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Points</th>
                                        <th class="mdl-data-table__cell--non-numeric">Winner</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template v-for="(item,index) in group2Info">
                                        <tr style="cursor: pointer">
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{index+1}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.teamName}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.points}}</td>
                                            <td>
                                                <div class="rkmd-checkbox checkbox-ripple">  <!--start of checkbox-->
                                                    <label class="input-checkbox checkbox-lightBlue">
                                                        <input type="checkbox"  v-on:click="selectedTeams(item.teamID)">
                                                        <span class="checkbox"></span>
                                                    </label>
                                                </div><!-- @end Checkbox-1 -->
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                            <!-- Sub menu of Group -->
                            <div class="mdl-card__menu">
                                <button id="menu-group2"
                                        class="mdl-button mdl-js-button mdl-button--icon" style="float: right;">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                    for="menu-group2">
                                    <li class="mdl-menu__item" href="Group1.html"><a v-on:click="redirect('group2')" style="text-decoration: none;color: inherit">Edit Fixtures</a> </li>     <!-- FIX ME styling is bad and cant click the whole box color is slightly different -->
                                    <!--<li disabled class="mdl-menu__item">Pick Group Winners</li>-->
                                    <!--<li class="mdl-menu__item" id="show-modal" @click="showModal = true">Add teams</li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td style="width: 5%" valign="top">
                        <div class="middle-filler"></div>
                    </td>
                    <td style="width: 30%" valign="top">
                        <div class="fixtures-card-wide mdl-card mdl-shadow--8dp">     <!-- fixtures card csss should be group card -->
                            <div class="mdl-card__title">
                                <h3 style="font-size: 18px !important;" class="mdl-card__title-text" >Group 3</h3>
                            </div>
                            <!-- Group Table of Points -->
                            <div class="mdl-card__supporting-text fixtures-table-container ">
                                <table class="mdl-data-table mdl-js-data-table">
                                    <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">#</th>
                                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Points</th>
                                        <th class="mdl-data-table__cell--non-numeric">Winner</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template v-for="(item,index) in group3Info">
                                        <tr style="cursor: pointer">
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{index+1}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.teamName}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.points}}</td>
                                            <td>
                                                <div class="rkmd-checkbox checkbox-ripple">  <!--start of checkbox-->
                                                    <label class="input-checkbox checkbox-lightBlue">
                                                        <input type="checkbox"  v-on:click="selectedTeams(item.teamID)">
                                                        <span class="checkbox"></span>
                                                    </label>
                                                </div><!-- @end Checkbox-1 -->
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                            <!-- Sub menu of Group -->
                            <div class="mdl-card__menu">
                                <button id="menu-group3"
                                        class="mdl-button mdl-js-button mdl-button--icon" style="float: right;">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                    for="menu-group3">
                                    <li class="mdl-menu__item" href="Group1.html"><a v-on:click="redirect('group3')" style="text-decoration: none;color: inherit">Edit Fixtures</a> </li>     <!-- FIX ME styling is bad and cant click the whole box color is slightly different -->
                                    <!--<li disabled class="mdl-menu__item">Pick Group Winners</li>-->
                                    <!--<li class="mdl-menu__item" id="show-modal" @click="showModal = true">Add teams</li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr><td style="height: 30px"></td></tr>
                <tr>
                    <td style="width: 30%" valign="top">
                        <div class="fixtures-card-wide mdl-card mdl-shadow--8dp">     <!-- fixtures card csss should be group card -->
                            <div class="mdl-card__title">
                                <h3 style="font-size: 18px !important;" class="mdl-card__title-text" >Group 4</h3>
                            </div>
                            <!-- Group Table of Points -->
                            <div class="mdl-card__supporting-text fixtures-table-container ">
                                <table class="mdl-data-table mdl-js-data-table">
                                    <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">#</th>
                                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Points</th>
                                        <th class="mdl-data-table__cell--non-numeric">Winner</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template v-for="(item,index) in group4Info">
                                        <tr style="cursor: pointer">
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{index+1}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.teamName}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.points}}</td>
                                            <td>
                                                <div class="rkmd-checkbox checkbox-ripple">  <!--start of checkbox-->
                                                    <label class="input-checkbox checkbox-lightBlue">
                                                        <input type="checkbox"  v-on:click="selectedTeams(item.teamID)">
                                                        <span class="checkbox"></span>
                                                    </label>
                                                </div><!-- @end Checkbox-1 -->
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                            <!-- Sub menu of Group -->
                            <div class="mdl-card__menu">
                                <button id="menu-group4"
                                        class="mdl-button mdl-js-button mdl-button--icon" style="float: right;">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                    for="menu-group4">
                                    <li class="mdl-menu__item" href="Group1.html"><a v-on:click="redirect('group4')" style="text-decoration: none;color: inherit">Edit Fixtures</a> </li>     <!-- FIX ME styling is bad and cant click the whole box color is slightly different -->
                                    <!--<li disabled class="mdl-menu__item">Pick Group Winners</li>-->
                                    <!--<li class="mdl-menu__item" id="show-modal" @click="showModal = true">Add teams</li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td style="width: 5%" valign="top">
                        <div class="middle-filler"></div>
                    </td>
                    <td style="width: 30%" valign="top">
                        <div class="fixtures-card-wide mdl-card mdl-shadow--8dp">     <!-- fixtures card csss should be group card -->
                            <div class="mdl-card__title">
                                <h3 style="font-size: 18px !important;" class="mdl-card__title-text" >Group 5</h3>
                            </div>
                            <!-- Group Table of Points -->
                            <div class="mdl-card__supporting-text fixtures-table-container ">
                                <table class="mdl-data-table mdl-js-data-table">
                                    <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">#</th>
                                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Points</th>
                                        <th class="mdl-data-table__cell--non-numeric">Winner</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template v-for="(item,index) in group5Info">
                                        <tr style="cursor: pointer">
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{index+1}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.teamName}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.points}}</td>
                                            <td>
                                                <div class="rkmd-checkbox checkbox-ripple">  <!--start of checkbox-->
                                                    <label class="input-checkbox checkbox-lightBlue">
                                                        <input type="checkbox"  v-on:click="selectedTeams(item.teamID)">
                                                        <span class="checkbox"></span>
                                                    </label>
                                                </div><!-- @end Checkbox-1 -->
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                            <!-- Sub menu of Group -->
                            <div class="mdl-card__menu">
                                <button id="menu-group5"
                                        class="mdl-button mdl-js-button mdl-button--icon" style="float: right;">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                    for="menu-group5">
                                    <li class="mdl-menu__item" href="Group1.html"><a v-on:click="redirect('group5')" style="text-decoration: none;color: inherit">Edit Fixtures</a> </li>     <!-- FIX ME styling is bad and cant click the whole box color is slightly different -->
                                    <!--<li disabled class="mdl-menu__item">Pick Group Winners</li>-->
                                    <!--<li class="mdl-menu__item" id="show-modal" @click="showModal = true">Add teams</li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td style="width: 5%" valign="top">
                        <div class="middle-filler"></div>
                    </td>
                    <td style="width: 30%" valign="top">
                        <div class="fixtures-card-wide mdl-card mdl-shadow--8dp">     <!-- fixtures card csss should be group card -->
                            <div class="mdl-card__title">
                                <h3 style="font-size: 18px !important;" class="mdl-card__title-text" >Group 6</h3>
                            </div>
                            <!-- Group Table of Points -->
                            <div class="mdl-card__supporting-text fixtures-table-container ">
                                <table class="mdl-data-table mdl-js-data-table">
                                    <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">#</th>
                                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Points</th>
                                        <th class="mdl-data-table__cell--non-numeric">Winner</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template v-for="(item,index) in group6Info">
                                        <tr style="cursor: pointer">
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{index+1}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.teamName}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.points}}</td>
                                            <td>
                                                <div class="rkmd-checkbox checkbox-ripple">  <!--start of checkbox-->
                                                    <label class="input-checkbox checkbox-lightBlue">
                                                        <input type="checkbox"  v-on:click="selectedTeams(item.teamID)">
                                                        <span class="checkbox"></span>
                                                    </label>
                                                </div><!-- @end Checkbox-1 -->
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                            <!-- Sub menu of Group -->
                            <div class="mdl-card__menu">
                                <button id="menu-group6"
                                        class="mdl-button mdl-js-button mdl-button--icon" style="float: right;">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                    for="menu-group6">
                                    <li class="mdl-menu__item" href="Group1.html"><a v-on:click="redirect('group6')" style="text-decoration: none;color: inherit">Edit Fixtures</a> </li>     <!-- FIX ME styling is bad and cant click the whole box color is slightly different -->
                                    <!--<li disabled class="mdl-menu__item">Pick Group Winners</li>-->
                                    <!--<li class="mdl-menu__item" id="show-modal" @click="showModal = true">Add teams</li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr><td style="height: 30px"></td></tr>
                <tr>
                    <td style="width: 30%" valign="top">
                        <div class="fixtures-card-wide mdl-card mdl-shadow--8dp">     <!-- fixtures card csss should be group card -->
                            <div class="mdl-card__title">
                                <h3 style="font-size: 18px !important;" class="mdl-card__title-text" >Group 7</h3>
                            </div>
                            <!-- Group Table of Points -->
                            <div class="mdl-card__supporting-text fixtures-table-container ">
                                <table class="mdl-data-table mdl-js-data-table">
                                    <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">#</th>
                                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Points</th>
                                        <th class="mdl-data-table__cell--non-numeric">Winner</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template v-for="(item,index) in group7Info">
                                        <tr style="cursor: pointer">
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{index+1}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.teamName}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.points}}</td>
                                            <td>
                                                <div class="rkmd-checkbox checkbox-ripple">  <!--start of checkbox-->
                                                    <label class="input-checkbox checkbox-lightBlue">
                                                        <input type="checkbox"  v-on:click="selectedTeams(item.teamID)">
                                                        <span class="checkbox"></span>
                                                    </label>
                                                </div><!-- @end Checkbox-1 -->
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                            <!-- Sub menu of Group -->
                            <div class="mdl-card__menu">
                                <button id="menu-group7"
                                        class="mdl-button mdl-js-button mdl-button--icon" style="float: right;">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                    for="menu-group7">
                                    <li class="mdl-menu__item" href="Group1.html"><a v-on:click="redirect('group7')" style="text-decoration: none;color: inherit">Edit Fixtures</a> </li>     <!-- FIX ME styling is bad and cant click the whole box color is slightly different -->
                                    <!--<li disabled class="mdl-menu__item">Pick Group Winners</li>-->
                                    <!--<li class="mdl-menu__item" id="show-modal" @click="showModal = true">Add teams</li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td style="width: 5%" valign="top">
                        <div class="middle-filler"></div>
                    </td>
                    <td style="width: 30%" valign="top">
                        <div class="fixtures-card-wide mdl-card mdl-shadow--8dp">     <!-- fixtures card csss should be group card -->
                            <div class="mdl-card__title">
                                <h3 style="font-size: 18px !important;" class="mdl-card__title-text" >Group 8</h3>
                            </div>
                            <!-- Group Table of Points -->
                            <div class="mdl-card__supporting-text fixtures-table-container ">
                                <table class="mdl-data-table mdl-js-data-table">
                                    <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">#</th>
                                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Points</th>
                                        <th class="mdl-data-table__cell--non-numeric">Winner</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template v-for="(item,index) in group8Info">
                                        <tr style="cursor: pointer">
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{index+1}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.teamName}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.points}}</td>
                                            <td>
                                                <div class="rkmd-checkbox checkbox-ripple">  <!--start of checkbox-->
                                                    <label class="input-checkbox checkbox-lightBlue">
                                                        <input type="checkbox"  v-on:click="selectedTeams(item.teamID)">
                                                        <span class="checkbox"></span>
                                                    </label>
                                                </div><!-- @end Checkbox-1 -->
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                            <!-- Sub menu of Group -->
                            <div class="mdl-card__menu">
                                <button id="menu-group8"
                                        class="mdl-button mdl-js-button mdl-button--icon" style="float: right;">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                    for="menu-group8">
                                    <li class="mdl-menu__item" href="Group1.html"><a v-on:click="redirect('group8')" style="text-decoration: none;color: inherit">Edit Fixtures</a> </li>     <!-- FIX ME styling is bad and cant click the whole box color is slightly different -->
                                    <!--<li disabled class="mdl-menu__item">Pick Group Winners</li>-->
                                    <!--<li class="mdl-menu__item" id="show-modal" @click="showModal = true">Add teams</li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td style="width: 5%" valign="top">
                        <div class="middle-filler"></div>
                    </td>
                    <td v-if="false" style="width: 30%" valign="top">
                        <div class="fixtures-card-wide mdl-card mdl-shadow--8dp">     <!-- fixtures card csss should be group card -->
                            <div class="mdl-card__title">
                                <h3 style="font-size: 18px !important;" class="mdl-card__title-text" >Group 6</h3>
                            </div>
                            <!-- Group Table of Points -->
                            <div class="mdl-card__supporting-text fixtures-table-container ">
                                <table class="mdl-data-table mdl-js-data-table">
                                    <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">#</th>
                                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Points</th>
                                        <th class="mdl-data-table__cell--non-numeric">Winner</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template v-for="(item,index) in group6Info">
                                        <tr style="cursor: pointer">
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{index+1}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.teamName}}</td>
                                            <td class="mdl-data-table__cell--non-numeric" v-on:click="directToMatchpage(item.id)">{{item.points}}</td>
                                            <td>
                                                <div class="rkmd-checkbox checkbox-ripple">  <!--start of checkbox-->
                                                    <label class="input-checkbox checkbox-lightBlue">
                                                        <input type="checkbox"  v-on:click="selectedTeams(item.teamID)">
                                                        <span class="checkbox"></span>
                                                    </label>
                                                </div><!-- @end Checkbox-1 -->
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                            <!-- Sub menu of Group -->
                            <div class="mdl-card__menu">
                                <button id="menu-group6"
                                        class="mdl-button mdl-js-button mdl-button--icon" style="float: right;">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                    for="menu-group6">
                                    <li class="mdl-menu__item" href="Group1.html"><a href="Group1.html" style="text-decoration: none;color: inherit">Edit Fixtures</a> </li>     <!-- FIX ME styling is bad and cant click the whole box color is slightly different -->
                                    <!--<li disabled class="mdl-menu__item">Pick Group Winners</li>-->
                                    <!--<li class="mdl-menu__item" id="show-modal" @click="showModal = true">Add teams</li>-->
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <modal v-if="showModal" @close="showModal = false" startcup=startcup>
                <!--
                  you can use custom content here to overwrite
                  default content
                -->
                <h3 slot="header">Are you sure you want to start the Knock Out stage with these teams?</h3>
            </modal>
        </div>
    </main>
</div>

<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                       you can't go back!
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button mdl-js-ripple-effect" @click="$emit('close')">
                                NO
                            </button>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button mdl-js-ripple-effect" @click="someChildMethod">
                                YES
                            </button>

                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>

<script src='https://unpkg.com/vue-select@latest'></script>
<script>
    Vue.component('modal',{
        template: '#modal-template',
        props: ['startcup'],
        methods:
        {
            someChildMethod: function () {
                //var data = 'test';
                this.$parent.startKnockOut(); // How do I call a parent method?
            }
        }
    });

    Vue.component('v-select', VueSelect.VueSelect);

    // start app
    new Vue({
        el: '#app',
        data: {
            showModal: false,
            show: false,
            //teams:"hahah",
            teams:[],
            //teamsFull: [],
            teamselected: null,
            groupselected:null,


            allTeamsSelected:null,

            group1Info:"error",
            group2Info:"error",
            group3Info:"error",
            group4Info:"error",
            group5Info:"error",
            group6Info:"error",
            group7Info:"error",
            group8Info:"error",

            selected: "hhss",

            sortedTeams:[],
            x: 0,


            groupNumbers: ["1","2"],


            playoffTeams: []
        },

        methods: {
            startKnockOut: function () {
                var teamArr = this.playoffTeams;
                //alert(teamArr[1])
                this.generateMatch(teamArr[0],teamArr[1],"quarterFinal1");
                this.generateMatch(teamArr[2],teamArr[3],"quarterFinal2");
                this.generateMatch(teamArr[4],teamArr[5],"quarterFinal3");
                this.generateMatch(teamArr[6],teamArr[7],"quarterFinal4");
                this.generateMatch(0,0,"semiFinal1");
                this.generateMatch(0,0,"semiFinal2");

                this.generateMatch(0,0,"final");
            },
            selectedTeams: function (teamID) {
                //console.log(teamID)
                var found = true;
                for(var i=0;i<this.playoffTeams.length;i++){ //checks if the team is already present
                    if(this.playoffTeams[i] ==teamID){
                        found = false;
                        this.playoffTeams.splice(i,1);
                        break;
                    }
                }
                if(found){ //if the team was not already present
                    this.playoffTeams.push(teamID);
                }
            },
            redirect: function (groupNum) {

                localStorage.setItem("group",groupNum);
                window.location.href = "http://178.62.9.140/adminGroup.html";

            },
            errorChecks: function () { //this is not really needed
                if(this.playoffTeams.length !=8){
                    alert("error you have not selected 8 teams")
                    return
                }
                if(this.group1Info.length <3 && this.group1Info.length !=0){
                    alert("error some groups have less than 3 teams")
                    return
                }
                if(this.group2Info.length <3 && this.group2Info.length !=0){
                    alert("error some groups have less than 3 teams")
                    return
                }
                if(this.group3Info.length <3 && this.group3Info.length !=0){
                    alert("error some groups have less than 3 teams")
                    return
                }
                if(this.group4Info.length <3 && this.group4Info.length !=0){
                    alert("error some groups have less than 3 teams")
                    return
                }
                if(this.group5Info.length <3 && this.group5Info.length !=0){
                    alert("error some groups have less than 3 teams")
                    return
                }
                if(this.group6Info.length <3 && this.group6Info.length !=0){
                    alert("error some groups have less than 3 teams")
                    return
                }
                if(this.group7Info.length <3 && this.group7Info.length !=0){
                    alert("error some groups have less than 3 teams")
                    return
                }
                if(this.group8Info.length <3 && this.group8Info.length !=0){
                    alert("error some groups have less than 3 teams")
                    return
                }

                this.showModal = true
            },
            startcup: function () {
                var i =0;
                var k =0;
                //this section generates all the needed matches for each group
                for(i=0;i<this.group1Info.length;i++){
                    for(k=i+1;k<this.group1Info.length;k++){
                        if(this.group1Info[i].teamID != this.group1Info[k].teamID){
                            this.generateMatch(this.group1Info[i].teamID,this.group1Info[k].teamID,"group1")
                        }
                    }
                }

                for(i=0;i<this.group2Info.length;i++){
                    for(k=i+1;k<this.group2Info.length;k++){
                        if(this.group2Info[i].teamID != this.group2Info[k].teamID){
                            this.generateMatch(this.group2Info[i].teamID,this.group2Info[k].teamID,"group2")
                        }
                    }
                }

                for(i=0;i<this.group3Info.length;i++){
                    for(k=i+1;k<this.group3Info.length;k++){
                        if(this.group3Info[i].teamID != this.group3Info[k].teamID){
                            this.generateMatch(this.group3Info[i].teamID,this.group3Info[k].teamID,"group3")
                        }
                    }
                }

                for(i=0;i<this.group4Info.length;i++){
                    for(k=i+1;k<this.group4Info.length;k++){
                        if(this.group4Info[i].teamID != this.group4Info[k].teamID){
                            this.generateMatch(this.group4Info[i].teamID,this.group4Info[k].teamID,"group4")
                        }
                    }
                }

                for(i=0;i<this.group5Info.length;i++){
                    for(k=i+1;k<this.group5Info.length;k++){
                        if(this.group5Info[i].teamID != this.group5Info[k].teamID){
                            this.generateMatch(this.group5Info[i].teamID,this.group5Info[k].teamID,"group5")
                        }
                    }
                }

                for(i=0;i<this.group6Info.length;i++){
                    for(k=i+1;k<this.group6Info.length;k++){
                        if(this.group6Info[i].teamID != this.group6Info[k].teamID){
                            this.generateMatch(this.group6Info[i].teamID,this.group6Info[k].teamID,"group6")
                        }
                    }
                }

                for(i=0;i<this.group7Info.length;i++){
                    for(k=i+1;k<this.group7Info.length;k++){
                        if(this.group7Info[i].teamID != this.group7Info[k].teamID){
                            this.generateMatch(this.group7Info[i].teamID,this.group7Info[k].teamID,"group7")
                        }
                    }
                }

                for(i=0;i<this.group8Info.length;i++){
                    for(k=i+1;k<this.group8Info.length;k++){
                        if(this.group8Info[i].teamID != this.group8Info[k].teamID){
                            this.generateMatch(this.group8Info[i].teamID,this.group8Info[k].teamID,"group8")
                        }
                    }
                }

            },
            generateMatch: function(hTeamID,aTeamID,gametype){
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {                                                         //(callback function)this function runs after xhttp.open because we have asynchronous data sending so as soon as the data is recieved this is run
                    if (xhttp.readyState === XMLHttpRequest.DONE && xhttp.status == 200) {
                        console.log(gametype +"   "+hTeamID+" VS "+ aTeamID+ "  created!")
                        if(gametype== "final"){ //final is the last gametype called so that is when the next page can be started
                            window.location.href = "http://178.62.9.140/adminPlayoffs.html";
                        }
                    }
                };
                xhttp.open("POST", "http://178.62.9.140:3080/makeMatch/"+hTeamID+"/"+aTeamID+"/"+gametype, true);
                xhttp.send();
            },
            fetchTeams: function () {
                var global = this;

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {                                                         //(callback function)this function runs after xhttp.open because we have asynchronous data sending so as soon as the data is recieved this is run
                    if (xhttp.readyState === XMLHttpRequest.DONE && xhttp.status == 200) {
                        console.log(this.responseText);
                        //I parse the rawdata received into jason structure then I pass it into and call the manipulate function
                        var rawdata = this.responseText;
                        var json = JSON.parse(rawdata); //parses the query result

                        global.teams = json;        //stores the entire json structure that was returned
                        global.teamsFull = json;
                    }
                };

                xhttp.open("GET", "http://178.62.9.140:3080/2playerTeams", true);
                xhttp.send();
            },

            addTeamToGroup: function (groupNum,teamID) {   //adds a team to a group
                //console.log(groupNum,teamID)

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {                                                         //(callback function)this function runs after xhttp.open because we have asynchronous data sending so as soon as the data is recieved this is run
                    if (xhttp.readyState === XMLHttpRequest.DONE && xhttp.status == 200) {

                        location.reload();
                    }
                };

                xhttp.open("POST", "http://178.62.9.140:3080/addTeamToGroup/"+groupNum+"/"+teamID, true);
                xhttp.send();
            },

            removeFromGroup: function (teamID) { //removes the a team from the groupstage

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {                                                         //(callback function)this function runs after xhttp.open because we have asynchronous data sending so as soon as the data is recieved this is run
                    if (xhttp.readyState === XMLHttpRequest.DONE && xhttp.status == 200) {

                        location.reload();
                    }
                };

                xhttp.open("POST", "http://178.62.9.140:3080/removeFromGroup/"+teamID, true);
                xhttp.send();
            },
            fetchGroupInfo: function (groupNum) {
                var global = this;

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {                                                         //(callback function)this function runs after xhttp.open because we have asynchronous data sending so as soon as the data is recieved this is run
                    if (xhttp.readyState === XMLHttpRequest.DONE && xhttp.status == 200) {
                        console.log(this.responseText);

                        var rawdata = this.responseText;
                        var json = JSON.parse(rawdata); //parses the query result
                        switch (groupNum) {
                            case 1:global.group1Info = json;break;
                            case 2:global.group2Info = json;break;
                            case 3:global.group3Info = json;break;
                            case 4:global.group4Info = json;break;
                            case 5:global.group5Info = json;break;
                            case 6:global.group6Info = json;break;
                            case 7:global.group7Info = json;break;
                            case 8:global.group8Info = json;
                        }
                    }
                };
                xhttp.open("GET", "http://178.62.9.140:3080/groupInfo/"+groupNum, true);
                xhttp.send();
            },
            updateDropdown: function () { //this function removes the teams that have already been assigned to a group

                var i = 0;

                for (var g1=0;g1<this.group1Info.length;g1++){
                    for(i=0;i<this.teams.length;i++){
                        if (this.teams[i].id == this.group1Info[g1].teamID){
                            this.teams.splice(i,1)  //removes the team from the array
                            i=0;
                        }
                    }
                }

                for (var g2=0;g2<this.group2Info.length;g2++){
                    for(i=0;i<this.teams.length;i++){
                        if (this.teams[i].id == this.group2Info[g2].teamID){
                            this.teams.splice(i,1)  //removes the team from the array
                            i=0;
                        }
                    }
                }

                for (var g3=0;g3<this.group3Info.length;g3++){
                    for(i=0;i<this.teams.length;i++){
                        if (this.teams[i].id == this.group3Info[g3].teamID){
                            this.teams.splice(i,1)  //removes the team from the array
                            i=0;
                        }
                    }
                }
                for (var g4=0;g4<this.group4Info.length;g4++){
                    for(i=0;i<this.teams.length;i++){
                        if (this.teams[i].id == this.group4Info[g4].teamID){
                            this.teams.splice(i,1)  //removes the team from the array
                            i=0;
                        }
                    }
                }
                for (var g5=0;g5<this.group5Info.length;g5++){
                    for(i=0;i<this.teams.length;i++){
                        if (this.teams[i].id == this.group5Info[g5].teamID){
                            this.teams.splice(i,1)  //removes the team from the array
                            i=0;
                        }
                    }
                }
                for (var g6=0;g6<this.group6Info.length;g6++){
                    for(i=0;i<this.teams.length;i++){
                        if (this.teams[i].id == this.group6Info[g6].teamID){
                            this.teams.splice(i,1)  //removes the team from the array
                            i=0;
                        }
                    }
                }

                for (var g7=0;g7<this.group7Info.length;g7++){
                    for(i=0;i<this.teams.length;i++){
                        if (this.teams[i].id == this.group7Info[g7].teamID){
                            this.teams.splice(i,1)  //removes the team from the array
                            i=0;
                        }
                    }
                }
                for (var g8=0;g8<this.group8Info.length;g8++){
                    for(i=0;i<this.teams.length;i++){
                        if (this.teams[i].id == this.group8Info[g8].teamID){
                            this.teams.splice(i,1)  //removes the team from the array
                            i=0;
                        }
                    }
                }
            }
        },
        created: function () {

            this.fetchGroupInfo(1);
            this.fetchGroupInfo(2);
            this.fetchGroupInfo(3);
            this.fetchGroupInfo(4);
            this.fetchGroupInfo(5);
            this.fetchGroupInfo(6);
            this.fetchGroupInfo(7);
            this.fetchGroupInfo(8);

            //console.log(this.group1Info);
            this.fetchTeams();

        },
        mounted: function () {
                var global= this;
            setTimeout(function() { global.updateDropdown(); }, 1000);
        }

    })
</script>
</div>
</body>
</html>