<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include Material Design lite framework -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    <title>Lughborough Table Tennis Cup</title>
    <link rel="stylesheet" type="text/css" href="CupPage.css">
    <link rel="stylesheet" type="text/css" href="Matchpage.css">

</head>
<body>

<script src="https://unpkg.com/vue/dist/vue.js"></script>  <!-- include vue.js -->

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Loughborough Table Tennis Cup</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="NewCup.html">Group stage info</a>
                <a class="mdl-navigation__link" href="CupPage.html">Playoffs info</a>
                <a class="mdl-navigation__link" href="">Fixtures</a>
                <a class="mdl-navigation__link" href="">Teams</a>
                <a class="mdl-navigation__link" href="">Login</a>
            </nav>
        </div>
    </header>                                                                                                           <!-- FIX ME -->
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Navigation</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="NewCup.html">Group stage info</a>
            <a class="mdl-navigation__link" href="CupPage.html">Playoffs info</a>
            <a class="mdl-navigation__link" href="">Fixtures</a>
            <a class="mdl-navigation__link" href="">Teams</a>
            <a class="mdl-navigation__link" href="">Login</a>
        </nav>
    </div>

    <main class="mdl-layout__content" id="app">
       <div style="width:300px; margin:0 auto;">
           <h3 align="center">Login</h3>

           <form action="#" >
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                   <input class="mdl-textfield__input" type="text" id="username" v-model="username">
                   <label class="mdl-textfield__label" for="username">Username...</label>
               </div>
               <br>
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                   <input class="mdl-textfield__input" type="password" id="password" v-model="password">
                   <label class="mdl-textfield__label" for="password">Password...</label>
               </div>
           </form>

           <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" style="float: right" v-on:click="sendLoginInfo">
               Login
           </button>
           <p style="color: red" v-if="seen">The username or password is wrong</p>
       </div>


    </main>
    <script>

        var tallier = new Vue({
            el: '#app',
            data: {
                username:"admin",
                password:"",
                seen: false

            },

            methods: {
                sendLoginInfo: function () {

                    var global =this;

                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {                                                         //(callback function)this function runs after xhttp.open because we have asynchronous data sending so as soon as the data is recieved this is run
                        if (xhttp.readyState === XMLHttpRequest.DONE && xhttp.status == 200) {
                            //alert(this.responseText);
                            if (this.responseText == "true"){
                                window.location.href = "http://178.62.9.140/adminFixtures.html";
                            }else {
                                global.seen = true
                            }
                        }
                    };

                    xhttp.open("POST", "http://178.62.9.140:3080/login/"+global.username+"/"+global.password, true);
                    xhttp.send();
                },

            },
            created: function () {

            },
            beforeMount: function () {

            },
            mounted: function () {


            }
        })
    </script>
</div>
</body>
</html>

