.date {
    text-align: center
}
table {
    margin: auto;
}
td.cell-border{
    border: 5px solid white;
}
.title-text{
    font-size: 24px;
}

td.center {
    text-align: center
}
.game-table{
    margin-left: 6px;
    float: left;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.e{
    padding: 0;
    width: 24px;
    height: 24px;
}
.t{
    padding: 0;
    padding-right: 2px;
    width: 22px;
    height: 24px;
}
.b{
    padding: 0;
    padding-left: 2px;
    width: 22px;
    height: 24px;
}

.nobg{
    color: aqua;

}

.active {
    background:#ffffff url('Images/Redbg.png') no-repeat;
}

.greentrue {
    background: #ffffff url('Images/Greenbg.png') no-repeat;
}

/*.scorestable{*/
    /*width: 710px;*/

/*}*/
.toalscorecell{
    padding: 0;
    background-color: white;
    height: 50px;
}
.teamnamecell {
    font-size: 16px;
    /*width: 100px;*/
    padding: 0;
    border-bottom: 5px solid transparent;
}
.setcell {
    width: 250px;
    border-bottom: 5px solid transparent;

}
.scoresTable {
    width: 1000px;
    table-layout: fixed;
}

table, th, td {
    /*border: 1px solid black;*/
    font-size: 16px;
}

.form-control {
    width: 100px;
}
.tableContainer {
    width: 1010px;
    margin:0 auto;
}
.scoreInputBox{
    font-family: Roboto;
    width: 18px;
    margin: 0;
    padding: 0;
    /*border: 0;*/
}

